.btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 1rem auto;
    width: auto;
    height: auto;
}

.avatar {
    max-width: 10rem;
    height: 10rem;
    border-radius: inherit;
    object-fit: cover;
}